@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

* {
    font-family: 'Dosis';
}

#movie-image {
    display: inline-block;
    border: 2px solid red;
}

#movie a {
    padding: 5px;
    color: black;
    font-size: 30px;
    font-family: 'Dosis';
}

#movie a:hover {
    padding: 5px;
    color: gray;
    font-size: 30px;
    font-family: 'Dosis';
}

#movie-summary {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%
}

#review-text {
    width: 60%;
    resize: none;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
}

#review button {
    border-radius: 15px;
    padding: 13px;
    border: 3px solid black;
    font-weight: 800;
    font-size: 15px;
}

#review textarea {
    border-radius: 15px;
    padding: 13px;
    border: 3px solid black;
    font-weight: 800;
    font-size: 20px;
}

#review button:hover {
    background-color: lightgray;
}

#review button:active {
    background-color: lightgray;
    color: white;
}

#review-box {
    text-align: center;
}

#review {
    text-align: center;
}

#movie-details {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%
}

#movie {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    animation: fadeIn .2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#comments {
    text-align: center;
}

.comment {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
    margin-left: 10%;
    margin-right: 10%
}

.comment-username {
    text-decoration: underline;
}

#delete-movie {
    border-radius: 15px;
    padding: 13px;
    border: 3px solid black;
    font-weight: 800;
    font-size: 15px;
    width: 80%;
}

#delete-movie:hover {
    background-color: lightgray;
}

#delete-movie:active {
    color: white;
}