#input-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    text-align: center;
    border: 3px solid black;
    padding: 50px;
    background-color: #06283D;
    color: #DFF6FF;
}

#input-box-padding {
    padding-top: 10%;
}